body {
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.navbar {
    border-radius: 0 0 3.5% 3.5%;
}

.navbar h3 {
    color: white;
    font-weight: 100;
    font-size: 2em;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 2em;
}

.navbar ul {
    align-items: center;
}

.navbar li {
    font-size: 1em;
}

.navbar .spacer {
    width: 3vw;
}

.navbar .spacer-mini {
    width: 1vw;
}

@media (max-width: 999px) {
    .kill-on-small {
        display: none;
    }
}