:root {
    --HoverBlue: #B3B3E5;
    --NeatRed: #eb3a3a;
}

body {
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.navbar {
    border-radius: 0 0 3.5% 3.5%;
}

.navbar h3 {
    color: white;
    font-weight: 100;
    font-size: 2em;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 2em;
}

.navbar .navbar-brand:hover {
    color: var(--HoverBlue) !important;
}

.navbar ul {
    align-items: center;
}

.navbar li {
    font-size: 1.2em;
}

.navbar .spacer {
    width: 3vw;
}

.navbar .spacer-mini {
    width: 1vw;
}

.navbar .currently-here {
    color: grey !important;
    pointer-events: none;
}

.navbar .nav-link, .navbar-brand {
    transition: color 0.3s, font-size 0.3s;
}

.navbar .nav-link:not(.currently-here):hover {
    color: var(--HoverBlue) !important;
    font-size: 1.3em;
}

@media (max-width: 999px) {
    .kill-on-small {
        display: none;
    }
}