body {
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.navbar {
    border-radius: 0 0 3.5% 3.5%;
}

.navbar h3 {
    color: white;
    font-weight: 100;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 30px;
}
